body {
    background-color: beige;
    font-size:40px;
}

 .container {
    text-align: center;
    border: 2px black;
    background-color: white;
    margin: 2px;
      }
#score{
  font-size: 10em;
  
}

h1 {
  color: red;
  text-size-adjust: 40px;
}

h2 {
  color: green;
  text-align: center;
}


