body {
    background-color: beige;
    font-size:40px;
}

 .container {
    text-align: center;
    border: 2px black;
    background-color: white;
    margin: 2px;
      }
#score{
  font-size: 10em;
  
}



